In [ ]:
import numpy as np
import pandas as pd

In [4]:
input1=pd.read_csv("sam.csv")
#print(input1)

lec_detail=pd.read_csv("instructors1.csv")
#print(lec_detail)

room_detail=pd.read_csv("room_table.csv")
#print(room_detail)

  subject_code                        Subject_name  lecturer_code day  \
0   GTEC 12013          mathemaics for technology 2         DE001  MO
1   GTEC 12023             physics for technology 2         SL005  TH
2   GTEC 12033  fundamental practises in technology         DH001  MO
3   GTEC 12041        Engineering drawin with CAD 2         DE001  TU
4   GTEC 12062               ststics for technology         PB013  FR
5   GTEC 12033             English for technology 2         DE001  MO

  session_no  white_board  projector  computers  capacity
0         M1            1          1          0       200
1         M2            1          1          0       200
2         M1            1          1          0       200
3         E2            1          1          0       180
4         E1            1          1          1       200
5         E1            1          1          0       200
   Room NO.  capacity  white_board  projector  computers
0      P001       200            1          1          0
1      P002       100            1          1          0
2      P003       100            1          1          0
3      P004        50            1          1          0
4      P005        50            1          1          0
5      P006        50            1          1          0
6      P007        50            1          1          0
7      P008        35            1          1          0
8      P009        35            1          1          0
9      P010        35            1          1          0
10     L001       180            1          1          1
11     L002        70            1          1          1
12     L003        70            1          1          1
13     L004        20            1          1          1
14     L005        15            1          1          1

In [16]:
#input1 = input1.set_index ('lecturer_code')
#print(input1)
#lec_detail = lec_detail.set_index('lecturer_code')
#print(lec_detail)

  subject_code                        Subject_name  lecturer_code day  \
0   GTEC 12013          mathemaics for technology 2         DE001  MO
1   GTEC 12023             physics for technology 2         SL005  TH
2   GTEC 12033  fundamental practises in technology         DH001  MO
3   GTEC 12041        Engineering drawin with CAD 2         DE001  TU
4   GTEC 12062               ststics for technology         PB013  FR
5   GTEC 12033             English for technology 2         DE001  MO

  session_no  white_board  projector  computers  capacity
0         M1            1          1          0       200
1         M2            1          1          0       200
2         M1            1          1          0       200
3         E2            1          1          0       180
4         E1            1          1          1       200
5         E1            1          1          0       200

KeyError: "None of ['lecturer_code'] are in the columns"

In [17]:
data2=[]

for i in range(0,(len(input1))):

    data = input1['lecturer_code'][i]

    data1 = lec_detail['prio_level'][data]
    data2.append(data1)
print(data2)

[2, 8, 4, 2, 35, 2]

In [ ]:
data_new = input1.copy()
data_new['prio_level'] = data2

In [18]:
print (data_new)
#print(len(data_new))

  subject_code                        Subject_name  lecturer_code day  \
0   GTEC 12013          mathemaics for technology 2         DE001  MO
1   GTEC 12023             physics for technology 2         SL005  TH
2   GTEC 12033  fundamental practises in technology         DH001  MO
3   GTEC 12041        Engineering drawin with CAD 2         DE001  TU
4   GTEC 12062               ststics for technology         PB013  FR
5   GTEC 12033             English for technology 2         DE001  MO

  session_no  white_board  projector  computers  capacity  prio_level
0         M1            1          1          0       200           2
1         M2            1          1          0       200           8
2         M1            1          1          0       200           4
3         E2            1          1          0       180           2
4         E1            1          1          1       200          35
5         E1            1          1          0       200           2

# Get the priority from the input table

In [9]:
#cols = ['subject_code','lecturer_code','day','session_no','white_board','projector','computers']

def number(x):
    count = 0
    prio_list = []
    for i in range (0,(len(data_new))):
        data_new['prio_level'][i]
        if (data_new['prio_level'][i] == x):

            #print(data_new[cols].loc[i])

            prio_list.append (data_new.loc[[i],['subject_code','lecturer_code','day','session_no','white_board','projector','computers','capacity']])
            #prio_list.append(a)
            count = count + 1

    print ("count is : ",count)
    
    arr = np.array(prio_list).reshape(count,8)
    #print(type(data_new))
    return(arr)

# GET THE RAW ACCORDING TO THE DAY THEY REQUESTED

In [10]:
def get_day1(n):     #monday
    d1 = [] 
    for j in range(0,(len(n))):
        #print(n[j][2])
        #print("jutto")
        if n[j][2] == 'MO':
            d = (n[j])
            d1.append(d)
    day1 = np.array(d1)
    return(day1)

def get_day2(n):     #Tuesday
    d2 = []
    for j in range(0,(len(n))):        
        if n[j][2] == 'TU':
            d = (n[j])
            d2.append(d)
    day2 = np.array(d2)   
    return(day2)

def get_day3(n):     #Wednesday 
    d3 = []
    for j in range(0,(len(n))):
        if n[j][2] == 'WE':
            d = (n[j])
            d3.append(d)
    day3 = np.array(d3)  
    return(day3)

def get_day4(n):       #Thursday
    d4 = []
    for j in range(0,(len(n))):
        if n[j][2] == 'TH':
            d = (n[j])
            d4.append(d)
    day4 = np.array(d4)  
    return(day4)

def get_day5(n):       #Friday
    d5 = []
    for j in range(0,(len(n))):
        if n[j][2] == 'FR':
            d = (n[j])
            d5.append(d)
    day5 = np.array(d5)                   
    return(day5)

# GET THE TIME SLOT ACORDING TO THE DAY

In [11]:
def time_slot1(w): # meka dala thiyenne d1 walat witharai
    t1 = []
    for k in range(0,x):  
        if d1[k][3] == 'M1':
            t = (d1[k])
            t1.append(t)
    T_slot1 = np.array(t1)
    return(T_slot1)

def time_slot2(w):   
    t2 = [] 
    for k in range(x):
        if d1[k][3] == 'M2':
            t = (d1[k])
            t2.append(t)
    T_slot2 = np.array(t2)
    return(t2)

def time_slot3(w):    
    t3 = []
    for k in range(x):
        if d1[k][3] == 'E1':
            t = (d1[k])
            t3.append(t)
    T_slot3 = np.array(t3)
    return(T_slot3)

def time_slot4(w):    
    t4 = []
    for k in range(0,len(d4)): # mekedi aulk enwa 2 priority ekedi d4 dammat out ekak enne na
        if d2[k][3] == 'E2':
            t = (d2[k])
            t4.append(t)
    T_slot4 = np.array(t4)
    return(T_slot4)

# ENTER THE NUMBER OF THE PRIORITY OF A LECTURER

In [19]:
#for x in range (0,36):
    
x = int(input("Enter your prio_level : "))
    

n = (number(x))
print ("this is your priory list : \n",n)
print(type(n))
print('\n',int(len(n)))

Enter your prio_level : 2
count is :  3
this is your priory list :
 [['GTEC 12013' 'DE001' 'MO' 'M1' 1 1 0 200]
 ['GTEC 12041' 'DE001' 'TU' 'E2' 1 1 0 180]
 ['GTEC 12033' 'DE001' 'MO' 'E1' 1 1 0 200]]
<class 'numpy.ndarray'>

 3

In [20]:
#print(n)

d1 = (get_day1(n))
print ("this is Monday list : \n",d1)
print(len(d1))
#print(type(d1))

time1 = (time_slot1(d1))
print ("\nthis is time slot 01 list : \n",time1)

print("___________________________________________________________________________________________")

time3 = (time_slot3(d1))
print ("this is time slot 03 list : \n",time3)

print("___________________________________________________________________________________________")

#---------------------------------------------------------------------------------------------------------------------------

d2 = (get_day2(n))
print ("\nthis is Tuesday list : \n",d2)
print(len(d2))

time4 = (time_slot4(d2))
print ("\nthis is time slot 04 list : \n",time4)

print("___________________________________________________________________________________________")

#---------------------------------------------------------------------------------------------------------------------------

d3 = (get_day3(n))
print ("\nthis is Wednesday list : \n",d3)

#---------------------------------------------------------------------------------------------------------------------------

d4 = (get_day4(n))
print ("\nthis is Thursday list : \n",d4)
print(len(d4))

#---------------------------------------------------------------------------------------------------------------------------

d5 = (get_day5(n))
print ("\nthis is Friday list : \n",d5)

this is Monday list :
 [['GTEC 12013' 'DE001' 'MO' 'M1' 1 1 0 200]
 ['GTEC 12033' 'DE001' 'MO' 'E1' 1 1 0 200]]
2

this is time slot 01 list :
 [['GTEC 12013' 'DE001' 'MO' 'M1' 1 1 0 200]]
___________________________________________________________________________________________
this is time slot 03 list :
 [['GTEC 12033' 'DE001' 'MO' 'E1' 1 1 0 200]]
___________________________________________________________________________________________

this is Tuesday list :
 [['GTEC 12041' 'DE001' 'TU' 'E2' 1 1 0 180]]
1

NameError: name 'd4' is not defined

In [28]:
print(d1)
print(d2)

time1 = (time_slot1(d2))
print ("\nthis is time slot 01 list : \n",time1)

print("___________________________________________________________________________________________")

time2 = (time_slot2(d1))
print ("this is time slot 02 list : \n",time2)

print("___________________________________________________________________________________________")

time3 = (time_slot3(d1))
print ("this is time slot 03 list : \n",time3)

print("___________________________________________________________________________________________")

time4 = (time_slot4(d1))
print ("this is time slot 04 list : \n",time4)

[['GTEC 12013' 'DE001' 'MO' 'M1' 1 1 0 200]
 ['GTEC 12033' 'DE001' 'MO' 'E1' 1 1 0 200]]
[['GTEC 12041' 'DE001' 'TU' 'E2' 1 1 0 180]]

this is time slot 01 list :
 [['GTEC 12013' 'DE001' 'MO' 'M1' 1 1 0 200]]
___________________________________________________________________________________________
this is time slot 02 list :
 []
___________________________________________________________________________________________
this is time slot 03 list :
 [['GTEC 12033' 'DE001' 'MO' 'E1' 1 1 0 200]]
___________________________________________________________________________________________
this is time slot 04 list :
 []

In [77]:
P001 = [[0,0,0,0],[0,0,0,0],[0,0,0,0],[0,0,0,0],[0,0,0,0]]
print(type(P001))
P001[0][0] = time1[0][0]
P002 = np.zeros((5,4))
P003 = np.zeros((5,4))
P004 = np.zeros((5,4))
P005 = np.zeros((5,4))
P006 = np.zeros((5,4))
P007 = np.zeros((5,4))
P008 = np.zeros((5,4))
P009 = np.zeros((5,4))
P010 = np.zeros((5,4))
L001 = np.zeros((5,4))
L002 = np.zeros((5,4))
L003 = np.zeros((5,4))
L004 = np.zeros((5,4))
L005 = np.zeros((5,4))

<class 'list'>

In [78]:
P001[0][1] = 'SL001'
print(P001)

[['GTEC 12013', 'SL001', 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [79]:
arr = np.array(P001)
print(arr)

[['GTEC 12013' 'SL001' '0' '0']
 ['0' '0' '0' '0']
 ['0' '0' '0' '0']
 ['0' '0' '0' '0']
 ['0' '0' '0' '0']]